<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="fa fa-home mr-2"
                    aria-hidden="true"></i>Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Request CME List</li>
    </ol>
  </nav>    
  
  <div class="col-md-12">
    <div class="d-flex mb-2">
        <div class="d-flex justify-content-start">
            <h5 class="mb-0 headers">Request CME List:-</h5>
        </div>
        <div class="buttonBox ml-auto">
        
          <button  class="btn btn-primary  formButton" (click)="BACKTOLIST()"
           style="padding: 3px 6px !important;font-size: 13px !important;" >Back</button>
        
        </div>
    </div>
  </div>
  
  
  
  <div class="container-fluid">
    <app-loader *ngIf="isLoaded" ></app-loader>
    <div class="card">
      <p-table   [value]="REQUEST_APPROVAL_CME_LIST" [(selection)]="selectedApprovalData" responsiveLayout="scroll" scrollHeight="420px"
      [globalFilterFields]="['CME_DATE','CME_NO','TOPIC','CME_STATUS']"
     (onLazyLoad)="loadDataLazily($event)"  #dt1 >
        <ng-template pTemplate="caption">
          <div class="table-header text-right">
            <!-- <button pButton label="Clear" class="p-button-outlined mr-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
              <span class="p-input-icon-right ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" class="form-control" (input)="dt1.filterGlobal($event.target.value, 'contains')"  />
              </span>
          </div>  
      </ng-template>
          <ng-template pTemplate="header">
              <tr>
                <!-- <th class="text-center"> 
                   <p-tableHeaderCheckbox  (click)="toggleCheckboxAll($event)"></p-tableHeaderCheckbox>
               </th> -->
                <th pSortableColumn="CME">CME NO
                  <!-- <p-columnFilter field="CME" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown appendTo="body" [ngModel]="dt1.filters['global']?.value" [options]="HQ_LIST" 
                        (onChange)="dt1.filterGlobal($event.value, 'contains')" placeholder="Select" 
                        [showClear]="true" [filter]="true" [filterBy]="'label'">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter> -->
                </th>
                <th pSortableColumn="CLAIM_DATE" class="width-12">DATE <p-sortIcon field="CLAIM_DATE"></p-sortIcon></th>
                <th pSortableColumn="REQ_BY" class="width-12">REQ BY <p-sortIcon field="CLAIM_DATE"></p-sortIcon></th>
                <th pSortableColumn="HQ_CODE">HQ CODE 
                  <!-- <p-columnFilter field="PRODUCT_DESC" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown appendTo="body" [ngModel]="dt1.filters['global']?.value" [options]="PROC_LIST" 
                        (onChange)="dt1.filterGlobal($event.value, 'contains')" placeholder="Select" 
                        [showClear]="true" [filter]="true" [filterBy]="'label'">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>   -->
                </th>
                <!-- <th pSortableColumn="INVOICE_SALE_QTY">SM NAME </th> -->
                <th pSortableColumn="INVOICE_SALE_QTY">STATUS </th>
                <th pSortableColumn="INVOICE_SALE_QTY">TOPIC </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <!-- <td>
                  <div class="text-center">
                    <input type="checkbox" [(ngModel)]="data.SELECTED" (click)="singleCheckbox($event,data,rowIndex)">
                  </div>
                </td> -->
                <!-- <td class="text-center">
                  <p-tableCheckbox [value]="data" (click)="singleCheckbox($event,data,rowIndex)"></p-tableCheckbox>
                </td> -->
                <td (click)="GetPreviewCmeReqFromCmeNo(data)" >{{ data.CME_NO }}</td>
                <td (click)="GetPreviewCmeReqFromCmeNo(data)"  class="width-12">{{ data.CME_DATE | date:'dd-MM-yyyy' }}</td>
                <td (click)="GetPreviewCmeReqFromCmeNo(data)" >{{ data.USER_NAME }}</td>
                <td (click)="GetPreviewCmeReqFromCmeNo(data)" >{{ data.HQ_DESC }}</td>
                <!-- <td (click)="GetPreviewCmeReqFromCmeNo(data)" >{{ data.SM_NAME }}</td> -->
                <td (click)="GetPreviewCmeReqFromCmeNo(data)" > <span class="is-info">{{ data.CME_STATUS }}</span> </td>
                <td (click)="GetPreviewCmeReqFromCmeNo(data)" >{{ data.TOPIC }}</td>
              </tr>
          </ng-template>
      </p-table>
    </div>
    </div>
  