<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="fa fa-home mr-2" aria-hidden="true"></i>Super
                stockist Master</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Super stockist Master</li> -->
    </ol>
</nav>

<div class="col-md-12">
    <div class="d-flex mb-2">
        <div class="d-flex justify-content-start">
            <h5 class="mb-0 headers">{{userMasterMode}}</h5>
        </div>
        <div class="buttonBox ml-auto">
            <button type="submit" class="btn-primary  formButton mr-2" (click)="onEditListClick()">List</button>
            <button type="submit" class="btn-primary  saveButton mr-2" (click)="OnSaveUserMasterClick()">Save</button>
            <button type="submit" class="btn-primary  cancelButton" (click)="OnCancelClick()">Cancel</button>
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row g-3">

        <!-- Left Section -->
        <div class="col-12 col-lg-12 d-flex flex-column">

          <!-- Row 1 -->
          <div class="row">
            <!-- Login ID -->
            <div class="col-12 col-md-4">
              <div class="mb-2">
                <label>SuperStockist Code</label>
                <div [ngClass]="{'required-field': isHighLightLogin === 'Yes'}">
                  <input 
                    type="text"
                    class="form-control"
                    [(ngModel)]="loginId"
                    [ngModelOptions]="{standalone:true}"
                    placeholder="SuperStockist Code"
                    [disabled]="isAddUserMaster"
                  />
                </div>
              </div>
            </div>

            <!-- User Name -->
            <div class="col-12 col-md-4">
              <div class="mb-2">
                <label>SuperStockist Name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="userName"
                  [ngModelOptions]="{standalone:true}"
                  placeholder="SuperStockist Name"
                />
              </div>
            </div>


        <div class="col-12 col-md-6 col-lg-4">
              <div class="mb-2">
                <label>Email</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="Email"
                  [ngModelOptions]="{standalone:true}"
                  placeholder="Email"
                />
              </div>
            </div>

                                    <div class="col-12 col-md-6">
              <div class="mb-2">
                <label>State</label>
                <p-dropdown
                  [options]="STATE_LIST"
                  appendTo="body"
                  optionLabel="STATE_DESC"
                  [(ngModel)]="stateCode"
                  [filter]="true"
                  filterBy="STATE_DESC"
                  [ngModelOptions]="{standalone:true}"
                  placeholder="Please Select..."
                ></p-dropdown>
              </div>
            </div>


            <div class="col-12 col-md-6">
                <div class="mb-2">
            <label>Address</label>
            <textarea
              class="form-control"
              [(ngModel)]="Address"
              [ngModelOptions]="{standalone:true}"
              placeholder="Address"
              rows="3"
            ></textarea>
          </div>
            </div>
            
            
            <!-- Mobile -->
            <div class="col-12 col-md-4">
              <div class="mb-2">
                <label>Mobile</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="MobileNo"
                  [ngModelOptions]="{standalone:true}"
                  placeholder="Mobile"
                />
              </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="mb-2">
                            <label>WEF</label>
                            <div [ngClass]="{'required-field':isHighLightWEF=== 'Yes'}">
                                <p-dropdown [options]="WEF_LIST" [(ngModel)]="wefId" [ngModelOptions]="{standalone:true}" appendTo="body" optionLabel="PERIOD_DESC" [filter]="true" filterBy="PERIOD_DESC" placeholder="Please Select...">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>

                       <div class="col-12 col-md-6 col-lg-4">
              <div class="mb-2">
                <label>Password</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="PASSSWORD"
                  [ngModelOptions]="{standalone:true}"
                  placeholder="Enter password"
                />
              </div>
            </div>

          </div>
          <!-- Row 3 -->
      
          
                             <div class="row g-3">
            <!-- State -->

          </div>

  
        </div>

        <!-- Right Section -->
        <!-- <div class="col-12 col-lg-4"> -->
          
        <!-- </div> -->

      </div>
    </div>
  </div>
</div>

<div class="modal " tabindex="-1" style="display: block;" id="popup" role="dialog" aria-hidden="true"
    *ngIf="isUserPopUp">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Master</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="ClosePopUp()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 mt-8 p-4">
                    <div class="card">
                        <div class="">
                            <p-table [value]="userList" [autoLayout]="true" styleClass="p-datatable-lg"
                                responsiveLayout="scroll" scrollDirection="both" [scrollable]="true"
                                scrollHeight="400px" #dt
                                [globalFilterFields]="['LOGIN_ID','ROLE_NAME','SALESROLE_NAME','AREA_NAME','STATE_NAME','PERIOD_DESC']">
                                <ng-template pTemplate="caption">
                                    <div class="input-group search-group px-3"
                                        style="width: 250px; margin-left: 440px;">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search keyword" aria-label="Search" size="20"
                                            (input)="dt.filterGlobal($event.target.value, 'contains')">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fa fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="LOGIN_ID" class="width-130">
                                            SuperStockist Code
                                        </th>
                                        <th pSortableColumn="ROLE_NAME" class="width-130">
                                            SuperStockist Name
                                        </th>
                                        <th pSortableColumn="SALESROLE_NAME" class="width-130">
                                             Role Name
                                        </th>
                                        <th pSortableColumn="AREA_NAME" class="width-130">
                                            Mobile
                                        </th>
                                        <th pSortableColumn="STATE_NAME" class="width-130">
                                            Email
                                        </th>
                                        <th pSortableColumn="PERIOD_DESC" class="width-130">
                                            State Code
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData>
                                    <tr>
                                        <td class="width-130">
                                            <a class="click" (click)="onUserSelected(rowData)"> {{rowData.SUPERSTOCKIST_CODE}}</a>
                                        </td>
                                        <td class="width-130">
                                            <a class="click" (click)="onUserSelected(rowData)">
                                                {{rowData.SUPERSTOCKIST_NAME}}</a>
                                        </td>
                                        <td class="width-130">
                                            <a class="click" (click)="onUserSelected(rowData)">
                                                {{rowData.ROLE_NAME}}</a>
                                        </td>
                                        <td class="width-130">
                                            <a class="click" (click)="onUserSelected(rowData)">
                                                {{rowData.MOBILE}}</a>
                                        </td>
                                        <td class="width-130">
                                            <a class="click" (click)="onUserSelected(rowData)">
                                                {{rowData.EMAIL}}</a>
                                        </td>
                                        <td class="width-130">
                                            <a class="click" (click)="onUserSelected(rowData)">
                                                {{rowData.STATE_NAME}}</a>
                                        </td>
                                        <!-- <td class="width-130">
                                            <a class="click" (click)="onUserSelected(rowData)">
                                                {{rowData.ADDRESS}}</a>
                                        </td> -->


                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>