<div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card h-100 mt-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="mb-2">
                                    <label>Company code <b class="text-danger">*</b></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="mb-2">
                                    <label>Company Name <b class="text-danger">*</b></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-6 col-lg-12">
                                <div class="mb-2">
                                    <label>Legal Name <b class="text-danger">*</b></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <hr class="w-100 m-0 mb-1">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <div class="mb-2">
                                    <label>Address</label>
                                    <textarea name="" id="" rows="3" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-8 col-lg-4"></div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="mb-2">
                                    <label>Country</label>
                                    <div class="">
                                        <p-dropdown appendTo="body" [options]="COUNTRY" optionLabel="">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="mb-2">
                                    <label>State</label>
                                    <div class="">
                                        <p-dropdown appendTo="body" [options]="STATE" optionLabel="">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="mb-2">
                                    <label>City</label>
                                    <div class="">
                                        <p-dropdown appendTo="body" [options]="CITY" optionLabel="">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="mb-2">
                                    <label>Pin</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card h-100 mt-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="mb-2">
                                    <label>Email <b class="text-danger">*</b></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="mb-2">
                                    <label>Phone <b class="text-danger">*</b></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="mb-2">
                                    <label>Fax</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="mb-2">
                                    <label>Url</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
