<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="fa fa-home mr-2"
                    aria-hidden="true"></i>Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cycle Sample Requisition</li>
    </ol>
</nav>

<div class="col-md-12">
    <div class="d-flex mb-2">
        <div class="d-flex justify-content-start">
            <h5 class="mb-0 headers">Cycle Sample Requisition</h5>
        </div>
        <div class="buttonBox ml-auto">
            <button type="submit" class="btn-primary  saveButton mr-2"
                (click)="SAVESAMPLEREQUISITIONCYCLEDATA()">Save</button>
            <!-- <button type="submit" class="btn-primary  cancelButton" (click)="clearForm()">Cancel</button> -->
        </div>
    </div>
</div>


<div class="container-fluid ">
    <app-loader *ngIf="isLoaded"></app-loader>
    <div class="card">
        <div class="card-body">
            <div class="">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="mb-2">
                            <label>Period<span style="color: red;">*</span></label>
                            <div [ngClass]="{'required-field':isHighLightSample === 'Yes'}">
                                <p-dropdown [options]="PERIOD_LIST" appendTo="body" optionLabel="CYCLE_DESC"
                                    optionValue="CYCLE_NO" [filter]="true" filterBy="CYCLE_DESC"
                                    placeholder="Please Select" [(ngModel)]="CYCLE_NO"
                                    [ngModelOptions]="{standalone:true}">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>