<div class="login-background">
    <div class="login-container">
        <div class="p-5 ">
            <div class="row">
                <div class="login-building w-100 text-center mt-4">
                    <h2 style="color: #fff;letter-spacing: 2px;">Let's get started now!</h2>
                    <h6 style="color: #fff;font-weight: 400;">Or <b>Create an account </b>if not registered yet</h6>
                </div>
                <div class="form-wrapper">
                    <div class="col-md-12 login-box">
                        <img src="assets/images/logo/logo-white.png" alt="" class="w-100 ">
                    </div>
                    <div class="col-md-12">
                        <div class="mb-2">
                          <label >Old Password</label>
                          <input type="text" class="form-control" placeholder="Enter Old Password" [(ngModel)]="OLD_PASSWORD">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-2">
                          <label >New Password</label>
                          <input type="password" class="form-control" placeholder="Enter New Password" [(ngModel)]="NEW_PASSWORD" >
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-2">
                          <label >Confirm Password</label>
                          <input type="password" class="form-control" placeholder="Enter Confirm Password"  [(ngModel)]="CONFIRM_PASSWORD">
                        </div>
                    </div>
                    <div class="col-md-12 mb-4 mt-5">
                        <div class="d-flex">
                            <button type="submit" class="btn btn-primary mr-2" (click)="changePassword()">Save</button>
                            <button type="submit" class="btn btn-primary" (click)="cancel()" style="background-image: linear-gradient(296deg, #8f0404 29%, #db4848 50%, #8f0404 70%);">Cancel</button>
                        </div>
                       
                    </div>
                   
                    <div class="copyright mt-2">
                        <p class="terms text-center">© Comflex Technologies Pvt. Ltd.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>