.width-10 {
  min-width: 100px !important;
}

.width-12 {
  min-width: 140px !important;
}

.width-20 {
  min-width: 550px !important;
}

.width-30 {
  max-width: 150px !important;
  min-width: 150px !important
}

.width-5 {
  min-width: 10px !important;
}

.width-15 {
  min-width: 120px !important;
}

.width-40 {
  min-width: 101px !important;
  max-width: 101px !important;
}

.width-50 {
  min-width: 175px !important;
}

.width-25 {
  max-width: 250px !important;
  min-width: 250px !important
}

:host ::ng-deep {
  #childTable {
    .p-datatable-thead {
      z-index: 0;
    }
  }
}