<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="fa fa-home mr-2"
                  aria-hidden="true"></i>Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page"> My Claim Request List</li>
  </ol>
</nav>
<div class="col-md-12">
  <div class="d-flex mb-2">
      <div class="d-flex justify-content-start">
          <h5 class="mb-0 headers"> My Claim Request List :-</h5>
      </div>
      <div class="buttonBox ml-auto">
        <button  class="btn-primary  formButton mr-2" (click)="onBackClick()">Back</button>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card">
    <p-table   [value]="CLAIM_LIST" responsiveLayout="scroll" scrollHeight="420px"
    [globalFilterFields]="['CLAIM_NO','REQUEST_ID','REQUEST_NO','REQUEST_DATE','HQ_CODE','HQ_DESC','DOCTOR_NAME','PRODUCT_DESC','SALE_QTY','FREE_QTY','SCHEME_FREE_QTY','CLAIM_FREE_QTY','STATUS','STOCKIST_NAME','CHEMIST_NAME']"
    stateStorage="session" stateKey="statedemo-session4" (onLazyLoad)="loadDataLazily($event)"  #dt1 >
      <ng-template pTemplate="caption">
        <div class="table-header text-right">
            <button pButton label="Clear" class="p-button-outlined mr-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
            <span class="p-input-icon-right ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" class="form-control" (input)="dt1.filterGlobal($event.target.value, 'contains')"  />
            </span>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
              <th class="header" pSortableColumn="CLAIM_NO" >CLAIM NO</th>
                <th class="header" pSortableColumn="REQUEST_ID" >REQUEST NO</th>
                <th pSortableColumn="HQ_DESC" >HQ 
                  <p-columnFilter field="HQ_DESC" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown appendTo="body" [ngModel]="dt1.filters['global']?.value" [options]="HQ_LIST" 
                        (onChange)="dt1.filterGlobal($event.value, 'contains')" placeholder="Select" 
                        [showClear]="true" [filter]="true" [filterBy]="'label'">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
                </th>
                <th pSortableColumn="DOCTOR_NAME" >DOCTOR 
                  <p-columnFilter field="DOCTOR_NAME" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown appendTo="body" [ngModel]="dt1.filters['global']?.value" [options]="DOC_LIST" 
                        (onChange)="dt1.filterGlobal($event.value, 'contains')" placeholder="Select" 
                        [showClear]="true" [filter]="true" [filterBy]="'label'">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
                </th>
                <th pSortableColumn="STOCKIST_NAME" >STOCKIST
                  <p-columnFilter field="STOCKIST_NAME" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown appendTo="body" [ngModel]="dt1.filters['global']?.value" [options]="STOC_LIST" 
                        (onChange)="dt1.filterGlobal($event.value, 'contains')" placeholder="Select" 
                        [showClear]="true" [filter]="true" [filterBy]="'label'">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
                </th>
                <th pSortableColumn="CHEMIST_NAME" >CHEMIST
                  <p-columnFilter field="CHEMIST_NAME" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown appendTo="body" [ngModel]="dt1.filters['global']?.value" [options]="CHEM_LIST" 
                        (onChange)="dt1.filterGlobal($event.value, 'contains')" placeholder="Select" 
                        [showClear]="true" [filter]="true" [filterBy]="'label'">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
                </th>
                <th pSortableColumn="PRODUCT_DESC">PRODUCT 
                    <p-columnFilter field="PRODUCT_DESC" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown appendTo="body" [ngModel]="dt1.filters['global']?.value" [options]="PROC_LIST" 
                        (onChange)="dt1.filterGlobal($event.value, 'contains')" placeholder="Select" 
                        [showClear]="true" [filter]="true" [filterBy]="'label'">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
                </th>
                <th pSortableColumn="SALE_QTY" >SALE </th>
                <th pSortableColumn="FREE_QTY">FREE </th>
                <th pSortableColumn="SCHEME_FREE_QTY">S_FREE QTY </th>
                <th pSortableColumn="CLAIM_FREE_QTY">C_FREE QTY </th>
                <th pSortableColumn="STATUS">STATUS </th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr (click)="onDiscountDitails(data)">
                <td>{{data.CLAIM_NO}}</td>
                <td>{{data.REQUEST_NO}}</td>
                <!-- <td>{{data.REQUEST_DATE | date:'dd-MM-yyy'}}</td> -->
                <td>{{data.HQ_DESC}}</td>
                <td>{{data.DOCTOR_NAME}}</td>
                <td>{{data.STOCKIST_NAME}}</td>
                <td>{{data.CHEMIST_NAME}}</td>
                <td class="width-20">{{data.PRODUCT_DESC}}</td>
                <td class="text-right">{{data.FINAL_SALE_QTY}}</td>
                <td  class="text-right">{{data.FINAL_FREE_QTY}}</td>
                <td  class="text-right">{{data.SCHEME_FREE_QTY}}</td>
                <td  class="text-right">{{data.CLAIM_FREE_QTY}}</td>
                <td class="width-10 text-right"><span class="status-indicator" [ngClass]="{'is-red':data.STATUS === 'Rejected','is-orange':data.STATUS ==='Pending','is-green':data.STATUS === 'Approved'}"><i class="fa fa-circle" aria-hidden="true"  [ngClass]="{'is-red-i':data.STATUS === 'Rejected','is-orange-i':data.STATUS ==='Pending','is-green-i':data.STATUS === 'Approved'}"></i> {{data.STATUS}}</span></td>
            </tr>
        </ng-template>
    </p-table>
  </div>
  </div>
