<div class="container-fluid">
        <div class="card mt-2">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="mb-2">
                                <label>Unit code</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="mb-2">
                                <label>Unit Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <hr class="w-100 m-0 mb-1">
                        <div class="col-sm-6 col-md-6 col-lg-8">
                            <div class="mb-2">
                                <label>Mailing Name</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4"></div>
                        <div class="col-sm-6 col-md-6 col-lg-8">
                            <div class="mb-2">
                                <label>Address</label>
                                <textarea name="" id="" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6"></div>
                        <hr class="w-100 m-0 mb-1">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="mb-2">
                                <label>Country</label>
                                <div class="">
                                    <p-dropdown appendTo="body" [options]="COUNTRY" optionLabel="">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="mb-2">
                                <label>State</label>
                                <div class="">
                                    <p-dropdown appendTo="body" [options]="STATE" optionLabel="">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="mb-2">
                                <label>City</label>
                                <div class="">
                                    <p-dropdown appendTo="body" [options]="CITY" optionLabel="">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="mb-2">
                                <label>Pin</label>
                                <div class="">
                                    <p-dropdown appendTo="body" [options]="PIN_CODE" optionLabel="">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="mb-2">
                                <label>Phone</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="mb-2">
                                <label>Fax</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="mb-2">
                                <label>Email</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="mb-2">
                                <label>GST Sr No.</label>
                                <div class="">
                                    <p-dropdown appendTo="body" [options]="GST_NO" optionLabel="">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                            <button type="submit" class="btn-primary formButton mr-2 "><i
                                    class="fa fa-save mr-2"></i>Save</button>
                            <button type="submit" class="btn-primary formButton" (click)="storeModalShow()"><i
                                    class="fa fa-plus mr-2"></i>Store</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="">
                <div class="col-md-12">
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Unit Code.</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>
                                        <div>
                                            <i class="fa fa-pencil-square-o text-primary"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>
                                        <div>
                                            <i class="fa fa-pencil-square-o text-primary"
                                                aria-hidden="true"></i>
                                            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonBox text-right mt-2">
            <button type="submit" class="btn-primary formButton "><i class="fa fa-caret-right mr-2"
                    aria-hidden="true"></i>Next</button>
        </div>
</div>

<div class="modal fade" id="storeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Modal title</h6>
                <button type="button" class="close" (click)="storeModalClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="mb-2">
                                <label>Store Code</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="mb-2">
                                <label>Description</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            <div class="form-group form-check mt-4">
                                <input type="checkbox" class="form-check-input" id="storeActive">
                                <label class="form-check-label" for="storeActive">Active</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Store Code</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>