<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="fa fa-home mr-2"
                  aria-hidden="true"></i>Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Update User Password</li>
  </ol>
</nav>

<div class="col-md-12">
  <div class="d-flex mb-2">
      <div class="d-flex justify-content-start">
          <h5 class="mb-0 headers">Update User Password</h5>
      </div>

  </div>
</div>

<div class="container-fluid">
  <div class="card">
    <p-table   [value]="userList" responsiveLayout="scroll" scrollHeight="420px"
    [globalFilterFields]="['LOGIN_ID','USER_NAME','ROLE_NAME','EMP_CODE']" #dt1 >
      <ng-template pTemplate="caption">
        <div class="table-header text-right">
            <span class="p-input-icon-right ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" class="form-control" (input)="dt1.filterGlobal($event.target.value, 'contains')"  />
            </span>

        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="header" pSortableColumn="LOGIN_ID" >LOGIN ID </th>
                <th pSortableColumn="USER_NAME" >USER NAME </th>
                <th pSortableColumn="ROLE_NAME" >ROLE NAME</th>
                <th pSortableColumn="EMP_CODE" >EMPLOYEE CODE </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr (click)="onUpdateUserPassword(data)">
                <td>{{data.LOGIN_ID}}</td>
                <td>{{data.USER_NAME}}</td>
                <td>{{data.ROLE_NAME}}</td>
                <td>{{data.EMP_CODE}}</td>


            </tr>
        </ng-template>
    </p-table>
  </div>
  </div>

  <p-dialog header="Update User Password" [(visible)]="updateuserPasswordHideShow" [style]="{width: '35vw'}">
    <div class="">
      <div class="">
    <div class="row">
      <div class="col-sm-12 col-md-12 ">
        <div class="mb-2">
          <label>User Name</label>
          <div [ngClass]="{'required-field':isHighLightUsername=== 'Yes'}">
            <input type="text"  class="form-control mr-2" [(ngModel)]="USERNAME"
            [ngModelOptions]="{standalone:true}" placeholder="User Name"  disabled>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-12 col-md-12 ">
        <div class="mb-2">
          <label>Current Password</label>
          <div [ngClass]="{'required-field':isHighLightNewpassword=== 'Yes'}">
            <input type="text"  class="form-control mr-2" [(ngModel)]="CURRENT_PASSWORD"
            [ngModelOptions]="{standalone:true}" placeholder="Current Password"  disabled="">
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 ">
        <div class="mb-2">
          <label>New Password</label>
          <div [ngClass]="{'required-field':isHighLightNewpassword=== 'Yes'}">
            <input type="text"  class="form-control mr-2" [(ngModel)]="NEW_PASSWORD"
            [ngModelOptions]="{standalone:true}" placeholder="New Password"  >
          </div>
        </div>
      </div> -->

            <div class="col-sm-12 col-md-12 ">
        <div class="mb-2">
          <label>Password</label>
          <div [ngClass]="{'required-field':isHighLightNewpassword=== 'Yes'}">
            <input type="text"  class="form-control mr-2" [(ngModel)]="PASSWORD"
            [ngModelOptions]="{standalone:true}" placeholder="Enter new Password"  >
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 ">
        <div class="mb-2">
          <label>Confirm Password</label>
          <div [ngClass]="{'required-field':isHighLightNewpassword=== 'Yes'}">
            <input type="text"  class="form-control mr-2" [(ngModel)]="CONFIRM_PASSWORD"
            [ngModelOptions]="{standalone:true}" placeholder="Confirm new Password"  >
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 ">
        <button type="submit" class="btn-primary  saveButton mr-2" (click)="onSaveUpadtePasswordClick()">Save</button>
      </div>
    </div>
      </div>
    </div>
</p-dialog>
