<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">SuperStockist Transfer</li>
    </ol>
</nav>

<div class="col-md-12">
    <div class="d-flex mb-2">
        <div class="d-flex justify-content-start">
            <h5 class="mb-0 headers">SuperStockist Transfer</h5>
        </div>
        <div class="buttonBox ml-auto">
            <!-- <button type="submit"  class="btn btn-primary saveButton mr-2" (click)="SAVESUPERSTOCKIST(0)" [disabled]="ORDER_STATUS">
                Save As Draft
            </button> -->
         <button type="submit" class="btn-primary formButton mr-2" (click)="goToList()" *ngIf="!toggleToList">
                List
            </button>
            <button type="submit" class="btn-primary formButton mr-2" (click)="goToCreate()" *ngIf="toggleToList">
                Back
            </button>

            <button type="submit" class="btn-primary saveButton mr-2" *ngIf="!toggleToList && !this.STATUSFLAG" (click)="SAVESUPERSTOCKIST(1)">
                Submit
            </button>
        </div>

    </div>
</div>
<app-loader *ngIf="isLoaded"></app-loader>
<div class="container-fluid" *ngIf="!toggleToList">
    <div class="card" >
        <div class="card-body">
            <div class="">
                <div class="row">
                    
                        <div class="col-sm-12 col-md-12 col-lg-3">
                            <div class="mb-2">
                                <label>TRF No</label>
                                <div class="">
                                    <input type="text" class="form-control mr-2" [disabled]="true" [(ngModel)]="TRF_NO"
                                        [ngModelOptions]="{standalone:true}" placeholder="Enter Request no."
                                        [disabled]="true">
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3">
                            <div class="mb-3">
                                <label>Date</label>
                                <div>
                                    <p-calendar [(ngModel)]="DATE" appendTo="body" [showIcon]="true"
                                        dateFormat="dd.mm.yy" inputId="icon" placeholder="Select DATE"
                                        [disabled]="STATUSFLAG"  [disabled]="STATUSFLAG"></p-calendar>
                                </div>
                            </div>
                        </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">


                        <div class="mb-2">
                            <label>From<span style="color: red;">*</span></label>
                            <div [ngClass]="{'required-field':isHighLightSample === 'Yes'}">
                                <p-dropdown [options]="FROM_superStockistList" appendTo="body"
                                    optionLabel="SUPERSTOCKIST_NAME" optionValue="SUPERSTOCKIST_CODE" [filter]="true"
                                    filterBy="SUPERSTOCKIST_NAME" placeholder="Please Select"
                                    [(ngModel)]="FROM_SUPERSTOCKIST_CODE" [ngModelOptions]="{standalone:true}"  [disabled]="STATUSFLAG">
                                </p-dropdown>
                                <!-- <p-dropdown [options]="periodList" appendTo="body" optionLabel="PERIOD_DESC"
                                    optionValue="PERIOD_ID" [filter]="true" filterBy="PERIOD_DESC"
                                    placeholder="Please Select" [(ngModel)]="period"
                                    [ngModelOptions]="{standalone:true}"> -->
                                <!-- </p-dropdown> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">

                        <div class="mb-2">
                            <label> To <span style="color: red;">*</span></label>
                            <div [ngClass]="{'required-field':isHighLightSample === 'Yes'}">
                                <p-dropdown [options]="TO_superStockistList" appendTo="body"
                                    optionLabel="SUPERSTOCKIST_NAME" optionValue="SUPERSTOCKIST_CODE" [filter]="true"
                                    filterBy="SUPERSTOCKIST_NAME" placeholder="Please Select"
                                    [(ngModel)]="TO_SUPERSTOCKIST_CODE" [ngModelOptions]="{standalone:true}"  [disabled]="STATUSFLAG">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <div class="mb-2">
                            <label>Remark</label>
                            <div>
                                <textarea name="" id="" cols="3" rows="" class="form-control" [(ngModel)]="REMARK"
                                    [ngModelOptions]="{standalone:true}" placeholder="Please Enter..."
                                    [disabled]="STATUSFLAG"></textarea>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-12 col-md-12 col-lg-12 ">
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table" >
                            <tbody>
                                 <!-- *ngFor="let list of PRODUCT_TABLE_LIST; let i=index;" -->
                                <tr>
                                    <td class="width-1 pl-0">
                                        <div class="search-dropdown" [ngClass]="{'required-field':isHighLightProduct=== 'Yes'}">
                                            <p-dropdown [options]="SAMPLE_PRODUCT_LIST" appendTo="body" optionLabel="label" [(ngModel)]="PRODUCT_CODE" 
                                                placeholder="Product" [ngModelOptions]="{standalone: true}"  [filter]="true" filterBy="label">
                                            </p-dropdown>
                                        </div>
                                        <!-- (onChange)="onPoolChange(i,list.PRODUCT_CODE)" -->
                                    </td>
                                    <!-- <td class="width-1 pl-0">
                                        <div class="search-dropdown"  [ngClass]="{'required-field':isHighLightToPool=== 'Yes'}">
                                            <p-dropdown [options]="poolList" optionLabel="DisplayName" [(ngModel)]="list.TO_POOL" [ngModelOptions]="{standalone: true}"
                                            [filter]="true" filterBy="DisplayName"   placeholder="To Pool" appendTo="body">
                                            </p-dropdown>
                                        </div>
                                    </td> -->
                                    <td class="width-2">
                                       <div [ngClass]="{'required-field':isHighLightRate=== 'Yes'}">
                                            <input type="text" class="form-control text-right" placeholder="Sale Qty" [(ngModel)]="SALE_QTY" [ngModelOptions]="{standalone: true}"
                                            (change)="getcalculatetotalqty(FREE_QTY,SALE_QTY)" [disabled]="STATUSFLAG"
                                           >
                                        </div>
                                    </td>
                                    <td class="width-2">
                                         <div [ngClass]="{'required-field':isHighLightQuantity=== 'Yes'}">
                                            <input type="text" class="form-control text-right" placeholder="Free Qty" [(ngModel)]="FREE_QTY" [ngModelOptions]="{standalone: true}"
                                            (change)="getcalculatetotalqty(FREE_QTY,SALE_QTY)" [disabled]="STATUSFLAG"
                                           >
                                        </div>

                                       
                                    </td>
                                    <!-- <td class="width-3">
                                        <div>
                                            <input type="text" class="form-control text-right" placeholder="Value" [(ngModel)]="TOTAL_VALUE" disabled="true">
                                        </div>
                                    </td> -->
                                    <td class="">
                                        <div>
                                            <button  (click)="addProductList(list,i)" class="btn-primary formButton1 text-success mr-2" [disabled]="STATUSFLAG"><i class="fa fa-plus"
                                                aria-hidden="true"></i></button>
                                                <button (click)="deleteProduct()"  class="btn-primary formButton1 text-danger" [disabled]="STATUSFLAG"><i class="fa fa-trash-o "
                                                    aria-hidden="true"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" ><p class="text-right mb-0"><b>Total</b></p></td>
                                    <td class="width-3">
                                        <div>
                                            <input type="text" class="form-control text-right" placeholder="Total Qty" [(ngModel)]="TOTAL_QTY"
                                            [ngModelOptions]="{standalone: true}" disabled="true">
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    </div>

                    <!-- <div class="col-sm-12 col-md-12 col-lg-3">
                        <div class="mb-3 ">
                            <label>Order Date</label>
                            <div>
                                <p-calendar [(ngModel)]="ORDER_DATE" appendTo="body" [showIcon]="true"
                                    dateFormat="dd.mm.yy" inputId="icon" placeholder="Order date"></p-calendar>
                            </div>
                        </div>
                    </div> -->
                </div>
                <!-- <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="mb-2">
                            <label>Period</label>
                            <div>
                                <div>
                                    <p-dropdown appendTo="body" [options]="periodList" [(ngModel)]="period"
                                        [filter]="true" filterBy="PERIOD_DESC" [ngModelOptions]="{standalone: true}"
                                        placeholder="Please Select..." optionLabel="PERIOD_DESC" optionValue="PERIOD_ID"
                                        >
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 ">
                        <div class="buttonBox mt-4 ">
                            <button type="submit" class="btn-primary viewButton mr-2" (click)="generatedata()">
                                <i class="fa fa-spinner mr-2" aria-hidden="true"></i>Show
                            </button>
                            

                        </div>
                    </div>

                </div> -->
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
         <hr class="hrStyle">
        </div>
       
         
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="mb-2">
                <label> </label>
                <div>
                    <p-table [value]="PRODUCT_TABLE_LIST" responsiveLayout="scroll" scrollHeight="420px" [globalFilterFields]="['PRODUCT_DESC', 'UNIT_PACK', 'POOL_COUNT', 'INNER_PACK','REQUESTED_PACK_QTY'
                                        ,'POOL_HQCOUNT','TOTAL_REQ'
                                    ]" #dt2>

                        <ng-template pTemplate="header">

                            <tr>
                                <!-- <th scope="col">Pool
                                                <p-columnFilter class="column-filter" field="POOL_DESC"
                                                    matchMode="equals" [showMenu]="false">
                                                    <ng-template pTemplate="filter" let-value
                                                        let-filter="filterCallback">
                                                        <p-dropdown [ngModel]="value" [options]="POOL_LIST"
                                                            (onChange)="filter($event.value)" [showClear]="true"
                                                            appendTo="body" placeholder="Select" [filter]="true"
                                                            [filterBy]="'label'">
                                                            <ng-template let-option pTemplate="item">
                                                                <span>{{option.label}}</span>
                                                            </ng-template>
                                                        </p-dropdown>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </th> -->
                                <th>Product Code

                                   
                                </th>
                                <th scope="col" class="width-5">Description
                                    <p-columnFilter class="column-filter" field="PRODUCT_DESC"
                                                    matchMode="equals" [showMenu]="false">
                                                      <ng-template pTemplate="filter" let-value
                                                        let-filter="filterCallback">
                                                        <p-dropdown [ngModel]="value" [options]="SAMPLE_PRODUCT_LIST"
                                                            (onChange)="filter($event.value)" [showClear]="true"
                                                            appendTo="body" placeholder="Select" [filter]="true"
                                                            [filterBy]="'label'">
                                                            <ng-template let-option pTemplate="item">
                                                                <span>{{option.label}}</span>
                                                            </ng-template>
                                                        </p-dropdown>
                                                    </ng-template>
                                                     </p-columnFilter>

                      
                                </th>
                                <th>Sale Qty</th>
                                <th>Free Qty</th>
                                <th>Total Qty</th>
                                <th>Action</th>
                                
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                            <tr>
                                <td class="width-2">{{ data.PRODUCT_CODE }}</td>
                                <td class="width-5">{{ data.PRODUCT_DESC }}</td>
                      
                                <td class="width-2">
                                      {{ data.SALE_QTY }}
                                    <!-- <input type="text" [(ngModel)]="data.SALE_QTY" class="form-control"
                                        name="pincode" (focusout)="getcalculatetotalqty(data,rowIndex)"
                                        placeholder="Enter Sale Qty" appTwoDigitDecimaNumber
                                        [disabled]="STATUSFLAG"> -->

                                </td>
                                <td class="width-2">
                                      {{ data.FREE_QTY }}
                                    <!-- <input type="text" [(ngModel)]="data.FREE_QTY" class="form-control"
                                        name="pincode" (focusout)="getcalculatetotalqty(data,rowIndex)"
                                        placeholder="Enter Free Qty" appTwoDigitDecimaNumber
                                        [disabled]="STATUSFLAG"> -->

                                </td>
                                <td class="width-2">
                                    {{ data.TOTAL_QTY }}
                                </td>
                                <td class="width-2">
                                    <button (click)="deleteProductList(rowIndex)" class="btn-primary formButton1 text-danger mr-2"
                                        [disabled]="STATUSFLAG"><i class="fa fa-trash-o " aria-hidden="true"></i></button>

                                         <button (click)="editProductList(rowIndex)" class="btn-primary formButton1"
                                        [disabled]="STATUSFLAG"><i class="fa fa-edit " aria-hidden="true"></i></button>
                                <!-- <td class="width-2">{{ data.REQ_HQ_QTY }}</td> -->
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

    </div>


</div>
<div class="container-fluid">
    <!-- <app-loader *ngIf="isLoaded"></app-loader> -->
    <div class="card" *ngIf="false">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="mb-2">
                        <label> </label>
                        <div>
                            <p-table [value]="ADHOC_REQUEST_LIST" responsiveLayout="scroll" scrollHeight="420px"
                                [globalFilterFields]="['REQUEST_ID', 'UNIT_PACK', 'POOL_COUNT', 'INNER_PACK','REQUESTED_PACK_QTY'
                                        ,'POOL_HQCOUNT','TOTAL_REQ'
                                    ]" #dt2>

                                <ng-template pTemplate="caption">
                                    <div class="row">
                                        <div class="col-md-2 col-lg-2 col-sm-12 table-header text-center">
                                            <div class="text-left">
                                                <div style="display: flex;gap: 15px;align-items: center;">
                                                    <div style="display: flex;text-align: center;">
                                                        <p-checkbox [(ngModel)]="PENDINGFLAG" name="ispaymentlistview"
                                                            (click)="ClickPaymentMode(1)" binary="true"
                                                            inputId="pending_payment">
                                                        </p-checkbox>
                                                        <label for="ispaymentlistview">Pending</label>
                                                    </div>

                                                    <div style="display: flex;text-align: center;">
                                                        <p-checkbox [(ngModel)]="APPROVEDFLAG" name="ispaymentlistview"
                                                            (click)="ClickPaymentMode(0)" binary="true"
                                                            inputId="received_payment">
                                                        </p-checkbox>
                                                        <label for="ispaymentlistview">Approved</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                </ng-template>
                                <ng-template pTemplate="header">

                                    <tr>
                                        <!-- <th scope="col">Pool
                                                <p-columnFilter class="column-filter" field="POOL_DESC"
                                                    matchMode="equals" [showMenu]="false">
                                                    <ng-template pTemplate="filter" let-value
                                                        let-filter="filterCallback">
                                                        <p-dropdown [ngModel]="value" [options]="POOL_LIST"
                                                            (onChange)="filter($event.value)" [showClear]="true"
                                                            appendTo="body" placeholder="Select" [filter]="true"
                                                            [filterBy]="'label'">
                                                            <ng-template let-option pTemplate="item">
                                                                <span>{{option.label}}</span>
                                                            </ng-template>
                                                        </p-dropdown>
                                                    </ng-template>
                                                </p-columnFilter>
                                            </th> -->
                                        <th>RSM Name</th>
                                        <th>Request No</th>
                                        <th>Request Date</th>
                                        <th scope="col">HQ Code</th>
                                        <th>HQ Desc</th>
                                        <th>Remarks</th>
                                        <th>Status</th>

                                        <!-- <th pSortableColumn="TOTAL_REQ" scope="col">Total Req.</th> -->
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                                    <tr (click)="GETREQUESTDETAILS(data)">
                                        <td class="width-2">{{ data.RSM_NAME }}</td>
                                        <td class="width-2">{{ data.REQUEST_NO }}</td>
                                        <td class="width-2">{{ data.REQUEST_DATE | date:'dd-MM-yyy' }}</td>
                                        <td class="width-2">{{ data.HQ_CODE }}</td>
                                        <td class="width-2">{{ data.HQ_DESC }}</td>
                                        <td class="width-2">{{ data.REMARKS }}</td>
                                        <td> <span class="is-info">{{ data.STATUS }}</span> </td>

                                        <!-- <td class="width-2">{{ data.REQ_HQ_QTY }}</td> -->
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="this.toggleToList">
        <div class="card-body">
            <div class="">
                <div class="row">
                    <!-- <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="mb-2">
                            <label>RSM</label>
                            <div [ngClass]="{'required-field':isHighLightRsm === 'Yes'}">
                                <input type="text" [(ngModel)]="RSM_CODE" class="form-control" placeholder="RSM">
                            </div>
                        </div>
                    </div> -->

                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="mb-2">
                            <label> </label>
                            <div>
                                <p-table [value]="REQUEST_LIST" responsiveLayout="scroll" scrollHeight="420px"
                                    [globalFilterFields]="['PRODUCT_DESC', 'UNIT_PACK', 'POOL_COUNT', 'INNER_PACK','REQUESTED_PACK_QTY'
                                        ,'POOL_HQCOUNT','TOTAL_REQ'
                                    ]" #dt2>
                                    <ng-template pTemplate="header">

                                        <tr>
                                           
                                            <th scope="col" class="width-200">TRF_NO
                                                <!-- <p-columnFilter class="column-filter" field="DESCRIPTION"
                                                    matchMode="equals" [showMenu]="false">
                                                      <ng-template pTemplate="filter" let-value
                                                        let-filter="filterCallback">
                                                        <p-dropdown [ngModel]="value" [options]="SAMPLE_PRODUCT_LIST"
                                                            (onChange)="filter($event.value)" [showClear]="true"
                                                            appendTo="body" placeholder="Select" [filter]="true"
                                                            [filterBy]="'label'">
                                                            <ng-template let-option pTemplate="item">
                                                                <span>{{option.label}}</span>
                                                            </ng-template>
                                                        </p-dropdown> -->
                                                    <!-- </ng-template> -->
                                               
                                                <!-- </p-columnFilter> -->

                                             
                                            </th>
                                            <th>DATE</th>
                                           
                                            <th>FROM_SUPERSTOCKIST</th>
                                            <th>TO_SUPERSTOCKIST</th>
                                            <th>REMARKS</th>
                                            <!-- <th pSortableColumn="TOTAL_REQ" scope="col">Total Req.</th> -->
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                                        <tr (click)="getTrfdetails(data)">
                                            <!-- <td class="width-2">{{ data.HQ_DESC }}</td> -->
                                            <td class="width-2" >{{ data.TRF_NO }}</td>
                                            <td class="width-2">{{ data.TRF_DATE | date:'dd.MM.yyyy'}}</td>
                                            <!-- <td class="width-2">{{ data.POOL_HQCOUNT }}</td> -->
                                            <td class="width-2">{{ data.FROM_SUPERSTOCKIST_CODE }}</td>
                                            <td class="width-2">{{ data.TO_SUPERSTOCKIST_CODE }}</td>
                                            <td class="width-2">
                                                {{ data.REMARK }}
                                            </td>
                                            <!-- <td class="width-2">{{ data.REQ_HQ_QTY }}</td> -->
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
