<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="fa fa-home mr-2"
                    aria-hidden="true"></i>Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sample receive</li>
    </ol>
</nav>

<div class="col-md-12">
    <div class="d-flex mb-2">
        <div class="d-flex justify-content-start">
            <h5 class="mb-0 headers">Sample receive</h5>
        </div>
        <!-- <div class="buttonBox ml-auto">
            <button type="submit" class="btn-primary  formButton  mr-2" (click)="downloadTemplate()">Download
                Template</button>
            <button type="submit" class="btn-primary  saveButton mr-2" (click)="formValidate()">Upload</button>
            <button type="submit" class="btn-primary  cancelButton" (click)="clearData()">Cancel</button>
        </div> -->
    </div>
</div>

<div class="container-fluid">
    <app-loader *ngIf="isLoaded"></app-loader>
    <div class="card">

        <div class="card-body">
            <p-table #dt [value]="showGridData.GridList" [columns]="showGridData.GridHeadersList"
                responsiveLayout="scroll" [paginator]="true" class="prime-table" [showCurrentPageReport]="true"
                [first]="first" [rows]="10" [rowsPerPageOptions]="[10, 25, 50, 100]" [totalRecords]="totalRecords"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [autoLayout]="true"
                (onPageChange)="onPageChange($event)" [scrollable]="true" [resizableColumns]="true"
                [globalFilterFields]="showGridData.SearchKey">
                <ng-template pTemplate="caption">
                    <div class="row">
                        <div class="col-md-2 col-lg-2 col-sm-12 table-header text-center">
                            <div class="text-left">
                                <div style="display: flex;gap: 15px;align-items: center;">
                                    <div style="display: flex;text-align: center;">
                                        <p-checkbox [(ngModel)]="PENDINGFLAG" name="ispaymentlistview"
                                            (click)="ClickPaymentMode(1)" binary="true" inputId="pending_payment">
                                        </p-checkbox>
                                        <label for="ispaymentlistview">Pending</label>
                                    </div>

                                    <div style="display: flex;text-align: center;">
                                        <p-checkbox [(ngModel)]="RECEIVEDFLAG" name="ispaymentlistview"
                                            (click)="ClickPaymentMode(0)" binary="true" inputId="received_payment">
                                        </p-checkbox>
                                        <label for="ispaymentlistview">Received</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="PENDINGFLAG"></div>
                        <div class="col-md-2 mb-2" *ngIf="RECEIVEDFLAG">
                            <label>From Date</label>
                            <div>
                                <p-calendar [showIcon]="true" [(ngModel)]="FROM_DATE" inputId="icon"
                                    dateFormat="dd.mm.yy"></p-calendar>
                            </div>
                        </div>
                        <div class=" col-md-2 mb-2" *ngIf="RECEIVEDFLAG">
                            <label>To Date</label>
                            <div>
                                <p-calendar [showIcon]="true" [(ngModel)]="TO_DATE" inputId="icon"
                                    dateFormat="dd.mm.yy"></p-calendar>
                            </div>
                        </div>
                        <div class="col pt-md-4" *ngIf="RECEIVEDFLAG">
                            <button class="btn btn-primary  formButton" (click)="GETSAMPLERECEIVEDETAILSBYUSERID()"
                                style="padding: 3px 6px !important;font-size: 13px !important;">Show</button>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="mb-2">
                                <label>HQ Code</label>
                                <div>
                                    <p-dropdown [options]="HQ_CODE_LIST" [(ngModel)]="HQ_CODE"
                                        [ngModelOptions]="{standalone:true}"
                                        (ngModelChange)="GETSAMPLERECEIVEDETAILSBYUSERID()"
                                        placeholder="Please Select HQ Code" appendTo="body" optionValue="HQ_CODE"
                                        optionLabel="HQ_DESC" [filter]="true" filterBy="HQ_DESC">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Search</label>
                            <div>
                                <span class="p-input-icon-right ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text" size="30" class="form-control"
                                        placeholder="Global Filter"
                                        (input)="dt.filterGlobal($event.target.value, 'contains')">
                                </span>
                            </div>
                        </div>
                    </div>


                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>

                        <th style="width:180px ;" *ngFor="let col of columns"
                            [ngClass]="{'TOPIC-header': col.Headers === 'TOPIC'}">

                            {{col.Headers}}


                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td style="width:180px" *ngFor="let col of columns" (click)="GETSAMPLEPRODUCTDETAILS(rowData)"
                            [ngClass]="{'TOPIC-header': col.Headers === 'HQ_CODE'}">
                            <a class="click" (click)="routeList(rowData);">
                                {{rowData[col.Field]}}
                            </a>
                            <span *ngIf="col.Headers === 'ACTION' && STATUS=='P'">
                                <button type="submit" class="btn-primary saveButton mr-2"
                                    (click)="openModel(rowData)">Received</button>
                            </span>
                        </td>
                        <!-- <td style="width:180px" *ngFor="let col of columns"
                             *ngIf="col.Headers === 'ACTION'">
                          
                                {{rowData[col.Field]}}
                          
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>


    </div>
</div>



<p-dialog header="Confirmation" [modal]="true" [(visible)]="this.receivedModelFlag" [style]="{ width: '50rem' }">
    <div class=" gap-3 ">
        <div>
            <h6>Are you sure, you have received the sample? </h6>
            <div class="float-right">
                <button type="submit" class="btn-primary  saveButton mr-2" (click)="UPDATERECEIVESTATUS()">
                    Yes,Received
                </button>
                <button type="submit" class="btn-primary  formButton mr-2" (click)="closeModel()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="Sample Product Details" [modal]="true" [(visible)]="this.productDetailFlag" [style]="{ width: '50rem' }">

            <div class="card-body">
                <p-table #dt [value]="showGridData1.GridList" [columns]="showGridData1.GridHeadersList"
                    responsiveLayout="scroll" [paginator]="true" class="prime-table" [showCurrentPageReport]="true"
                    [first]="first" [rows]="10" [rowsPerPageOptions]="[10, 25, 50, 100]" [totalRecords]="totalRecords"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [autoLayout]="true"
                    (onPageChange)="onPageChange($event)" [scrollable]="true" [resizableColumns]="true"
                    [globalFilterFields]="showGridData1.SearchKey">
                    <!-- <ng-template pTemplate="caption">


                    </ng-template> -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>

                            <th style="max-width:100px !important;" *ngFor="let col of columns"
                                [ngClass]="{'width-12': col.Headers === 'SAMPLE_PRODUCT'}">

                                {{col.Headers}}


                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td style="max-width:100px !important;" *ngFor="let col of columns"
                                [ngClass]="{'width-12': col.Headers === 'SAMPLE_PRODUCT'}">
                                <a class="click" (click)="routeList(rowData)">
                                    {{rowData[col.Field]}}
                                </a>
                               
                            </td>
                            <!-- <td style="width:180px" *ngFor="let col of columns"
                             *ngIf="col.Headers === 'ACTION'">
                          
                                {{rowData[col.Field]}}
                          
                        </td> -->
                        </tr>
                    </ng-template>
                </p-table>
            </div>

</p-dialog>