<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="fa fa-home mr-2"
                    aria-hidden="true"></i>Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sample Requisition List</li>
    </ol>
</nav>

<div class="col-md-12">
    <div class="d-flex mb-2">
        <div class="d-flex justify-content-start">
            <h5 class="mb-0 headers">Sample Requisition List</h5>
        </div>
        <div class="buttonBox ml-auto">
            <!-- <button type="submit" class="btn-primary  formButton mr-2" (click)="Back()">Back</button> -->
        </div>
    </div>
</div>

<div class="container-fluid">
       <div class="card">
        <div class="card-body">
            <div class="">
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="mb-2">
                            <label> </label>
                            <div>
                                <p-table [value]="SAMPLE_REQUISITION_LIST" responsiveLayout="scroll"
                                    scrollHeight="420px"
                                     [globalFilterFields]="['RSM_NAME','CYCLE_DESC','TOTAL_TARGET',
                                     'MAX_SAMPLE_VALUE','REQ_VALUE','STATUS_DESC']" stateStorage="session"
                                    stateKey="statedemo-session3" #dt1>
                                    <ng-template pTemplate="header">
                                        <tr>
                                                <th pSortableColumn="RSM_NAME" scope="col">Rsm Name
                                                </th>
                                                <th pSortableColumn="CYCLE_DESC" scope="col">Period
                                                </th>
                                                <th pSortableColumn="TOTAL_TARGET" scope="col">Total Target</th>
                                                <th pSortableColumn="MAX_SAMPLE_VALUE" scope="col">Max Sample Value</th>
                                                <th pSortableColumn="REQ_VALUE" scope="col">Req. Value</th>
                                                <th  pSortableColumn="REQ_VALUE" scope="col" >Status
                                                </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                                        <tr (dblclick)="GETSAMPLEREQUISITIONLISTBYTRXNID(data)">
                                                <td class="width-2">{{ data.RSM_NAME }}</td>
                                                <td class="width-2">{{ data.CYCLE_DESC }}</td>
                                                <td class="width-2 text-right"><span>&#8377;</span>{{ data.TOTAL_TARGET
                                                    | number:'1.2-2' }}</td>
                                                <td class="width-2 text-right"><span>&#8377;</span>{{
                                                    data.MAX_SAMPLE_VALUE | number:'1.2-2' }}</td>
                                                <td class="width-2 text-right"><span>&#8377;</span>{{ data.REQ_VALUE |
                                                    number:'1.2-2' }}</td>
                                                <td class="width-2">
                                                    {{data.STATUS_DESC}}
                                                </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>