.login-background {
    background: url(../../../assets/images/logo/BackgroundImage1.jpg) no-repeat left 16%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;


}

.login-background::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgba(93,84,240,.5); */
    background-image: linear-gradient(358deg, #0c4382cc 29%, #006bb761 50%, #0c438282 70%);
    pointer-events: none;
}

.login-container {
    height: 100vh;
    width: 100%;
}

.form-wrapper {
    width: 500px;
    height: auto;
    background: #fff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    color: #605656;
    font-weight: 800;
    padding: 25px 60px;
    border-radius: 20px;
    position: absolute;
    right: 50px;
    top: 54%;
    left: 33%;
    transform: translateY(-50%);
}

.form-wrapper h5 {
    font-size: 25px;
    color: #fff;
}

.form-wrapper p.terms {
    color: #0c4382;
    font-size: 13px;
}

.form-wrapper p.terms a {
    font-size: 13px;
    color: #0c4382;
    text-decoration: underline;
}

.form-wrapper .btn {
    background-image: linear-gradient(296deg, #0c4382 29%, #537da5  50%, #0c4382 70%);
    width: 100%;
    height: 50px;
    font-size: 18px;
    transition: all .5s;
    border: 0;
    border-radius: 10px;
}

.form-wrapper .copyright {
    width: 100%;
}

.form-wrapper .links a {
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
}

.logoicon {
    color: #dca851;
}

.form-control {
    font-size: 14px;
    border: 1px solid #0c4382;
    padding: 5px 10px;
    border-radius: 3px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #527ca461;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #527ca461;
}

.login-box{
    background: #0c4382;
    position: relative;
    top: -49px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);

}

@media only screen and (max-width: 1152px) {
    .form-wrapper {
        width: 400px;
        left: 50%;
        transform: translateX(-50%);
        top: 20%
    }
}



/* commented by hemant  */
/* 
.login-background {
    background: #00539E url(../../../assets//images/logo/BackgroundImage1.jpg) no-repeat left 16%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-container {
    height: 100vh;
    width: 100%;
}
.form-wrapper {
    width: 400px;
    height: auto;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    color: #fff;
    padding: 25px;
    border-radius: 20px;
    position: absolute;
    right: 50px;
    border: 2px solid #dca851;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
}
.form-wrapper h5 {
    font-size: 25px;
    color: #fff;
}
.form-wrapper p.terms {
    color: #fff;
    font-size: 11px;
}
.form-wrapper p.terms a {
    font-size: 11px;
    color: #fff;
    text-decoration: underline;
}
.form-wrapper .btn {
    background-image: linear-gradient(135deg, #701007 0%, #d79c65 100%);
    width: 100%;
    height: 50px;
    font-size: 18px;
    transition: all .5s;
    border: 0;
}
.form-wrapper .copyright {
    width: 100%;
}
.form-wrapper .links a {
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
}
.logoicon {
    color: #dca851;
}
.form-control {
    font-size: 14px;
    border: 1px solid #d39e00;
    padding: 5px 10px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #b36b44;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(220 168 81);
}
@media only screen and (max-width: 1152px) {
    .form-wrapper {
        width: 350px;
        left: 50%;
        transform: translateX(-50%);
        top: 20%
    }
} */