    <app-loader *ngIf="isLoaded" ></app-loader>
<div class="login-background">
    <div class="login-container">
        <div class="p-5">
            <div class="row">
                <div class="login-building w-100 text-center mt-4">
                    <!-- <h2 style="color: #fff;letter-spacing: 2px;">Jenburkt Sales</h2>
                    <h6 style="color: #fff;font-weight: 400;">Change Password</h6> -->
                </div>
                <div class="form-wrapper" *ngIf="!isNumberVerfied">
                     <div class="col-md-12 login-box">
                        <img src="assets/images/logo/logo-white.png" alt="" class="w-100 ">
                         </div>
                            <div class="col-md-12">
                        <div class="mb-2">
                          <label >Enter WhatsApp No.</label>
                          <input type="number" [max]="10" [min]="10" class="form-control" placeholder="Enter WhatsApp No"  [(ngModel)]="MOBILE_NUMBER" >
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2"  (click)="sendOtpClick()">Send OTP</button>

                </div>
                <div class="form-wrapper" *ngIf="isNumberVerfied">
                       <div class="col-md-12 login-box">
                        <img src="assets/images/logo/logo-white.png" alt="" class="w-100 ">
                    </div>
                    <div class="col-md-12">
                        <div class="mb-2">
                          <label >New Password</label>
                          <input type="text" class="form-control" placeholder="Enter New Password"  [(ngModel)]="NEW_PASSWORD">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-2">
                          <label >Confirm Password</label>
                          <input type="text" class="form-control" placeholder="Enter Confirm Password" [(ngModel)]="CONFIRM_PASSWORD" >
                        </div>
                    </div>
                      <div class="col-md-12">
                        <div class="mb-2">
                          <label >Enter OTP</label>
                          <input type="number" maxlength="4" class="form-control" placeholder="Enter OTP" [(ngModel)]="OTP" >
                        </div>
                    </div>
                    <!-- (window:keypress)="onSomeAction($event)" -->
                    <button type="submit" class="btn btn-primary mb-4 mt-5"  (click)="  validate()">Reset Password</button>

                </div>
            </div>
        </div>
    </div>
</div>