<div class="login-background">
    <div class="login-container">
        <div class="p-5">
            <div class="row">
                <div class="login-building d-none d-lg-block">
                </div>
                <div class="form-wrapper">
                    <h5 class="mb-5 text-center"><i class="fa fa-diamond logoicon" aria-hidden="true"></i> Password Reset</h5>
                    <div class="col-md-12">
                        <div class="mb-2">
                          <label >Old Password</label>
                          <input type="text" class="form-control" placeholder="Enter Password"  >
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-2">
                          <label >New Password</label>
                          <input type="password" class="form-control" placeholder="Enter Password"  >
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-2">
                          <label >Confirm Password</label>
                          <input type="password" class="form-control" placeholder="Enter Password"  >
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4 mt-5" (window:keypress)="onSomeAction($event)" (click)="logInClick()">Reset</button>

                </div>
            </div>
        </div>
    </div>
</div>